RewriteEngine On

# If the request is for an actual file or directory, let it be served as usual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, rewrite the request to index.php and pass the rest of the URL as a query string
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
